<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    />
    <link href="styles.css" rel="stylesheet" />
    <title>Index Page</title>
  </head>
  <body class="h-full w-full flex justify-center items-center">
    <div>
      <h1 class="text-5xl text-gray-700 font-semibold text-center">
        Index Page
      </h1>
      <ul class="mt-6 text-xl list-disc">
        <li class="mt-4 text-xl">
          <span class="font-semibold">NodeJS</span> works ✅
        </li>
        <li class="mt-4 text-xl">
          <span class="font-semibold">Redis</span> <%= connections.redis ? `is
          installed / working ✅` : `is not working ❌` %>
        </li>
        <li class="mt-4 text-xl">
          <span class="font-semibold">PostgresSQL</span> <%=
          connections.postgres ? `is installed / working ✅` : `is not working
          ❌` %>
        </li>
      </ul>
    </div>
  </body>
</html>
