<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tailwind.css" />
    <link rel="stylesheet" href="styles.css" />

    <title>Document</title>
  </head>
  <body class="w-full flex justify-center mt-32">
    <div>
      <h1 class="text-5xl text-gray-700 font-semibold">Index Page</h1>
      <div class="mt-6 text-xl">
        <div class="mt-2">
          <label class="inline-flex items-center">
            <input
              type="checkbox"
              name="nodejs"
              value="nodejs"
              checked
              disabled
            />
            <span class="ml-2">NodeJS</span>
          </label>
        </div>
        <div class="mt-2">
          <label class="inline-flex items-center">
            <input type="checkbox" name="redis" value="redis" <%=
            connections.redis ? "checked" : "" %> disabled/>
            <span class="ml-2">Redis</span>
          </label>
        </div>
        <div class="mt-2">
          <label class="inline-flex items-center">
            <input type="checkbox" name="postgres" value="postgres" <%=
            connections.postgres ? "checked" : "" %> disabled/>
            <span class="ml-2">Postgres</span>
          </label>
        </div>
      </div>
    </div>
  </body>
</html>
